.buttonRow {
    display: flex;
}

button {
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    text-emphasis: bold;
    border-color: white;
    border-style: solid;    
}

button:hover {
    background-color: white;
    color: #1E5631;
}

.numberBtn {
    background-color: lightgray;
    color: #1E5631;
    font-size: 24pt;
}

.anciliary {
    background-color: #a4de02;
    color: #1E5631;
    font-size: 14pt;
}

#display {
    height: 50px;
    width: 224px;
    background-color: grey;
    margin: 4px;
    font-size: 18pt;
    font-family: monospace, sans-serif;
    align-items: center;
    justify-content: right;
    display: flex;
    border-radius: 6px;
}

.clear {
    background-color: rgb(255, 66, 66);
    font-size: 18pt;
    color: #1e5631;
}

.operatorBtn {
    background-color:  #1E5631;
    color: #ACDF87;
    font-size: 24pt;

}

#calculatorBody {
    padding: 10px;
    border: solid 3px #1e5631;
    display: inline-block;
    background-color: #76ba1b;
    border-radius: 12px;
}



/* color scheme help: https://www.schemecolor.com/wp-content/themes/colorsite/include/cc6.php?color0=1E5631&color1=A4DE02&color2=76BA1B&color3=4C9A2A&color4=ACDF87&color5=68BB59&pn=Shades%20of%20Green*/
